.generative {
  margin-top: 160px;
  padding: 0 20px;
  img {
    margin: 20px 0;
  }
  .generative-title {
    text-align: center;
    max-width: 900px;
    margin: 0 auto 80px auto;
  }
  .smart-images {
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    h3 {
      font-family: Sora;
      font-weight: 400;
      font-style: Regular;
      font-size: 32px;
      line-height: 48px;
      letter-spacing: 0%;
    }
    p {
      font-family: Sora;
      font-weight: 300;
      font-style: Light;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0%;
    }
    .smart-robot {
      background: #15131d;
      padding: 25px;
      width: 640px;
      border-radius: 20px;
      .smart-r-content {
        margin-left: 40px;
        width: 502px;
      }
      .smart-navs {
        display: flex;
        gap: 45px;
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }

  h2 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 24px;
  }

  p {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #757185;
    margin: 0 auto;
    max-width: 697px;
  }

  .smart-picture {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .smart-img {
    width: 100%;
    max-width: 1280px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
  }
}

@media (max-width: 1200px) {
  .generative {
    margin-top: 120px;
  }

  .smart-img {
    max-width: 100%;
  }

  h2 {
    font-size: 42px;
    line-height: 52px;
  }

  p {
    font-size: 20px;
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .generative {
    .smart-images {
      display: block;
      margin: 0 25px;
      .smart-robot {
        .smart-r-content {
          width: auto;
          p {
            width: auto;
          }
        }
      }
      .smart-robot {
        width: 95%;
      }
    }
    text-align: left;
    margin-top: 100px;
    padding: 0 16px;
    h2 {
      font-size: 36px;
      line-height: 46px;
    }
    p {
      font-size: 18px;
      width: 306px;
    }
  }
}

@media (max-width: 375px) {
  .smart-hiden {
    display: none;
  }
  .generative {
    .smart-images {
      
      display: block;
      margin: 0 25px;
      .smart-robot {
        .smart-r-content {
          margin-left: 0;
          h3{
            font-size: 24px;
          }p{
            font-size: 16px;
          }
            .smart-navs {
    gap: 20px;
  }
          width: auto;
          p {
            width: auto;
          }
        }
      }
    }
    h2 {
      font-size: 16px;
      line-height: 42px;
    }
    p {
      font-size: 8px;
      line-height: 2;
      max-width: 335px;
    }
  }


}
