.community{
    margin-top: 100px;
    margin-bottom: 100px;
}
.community-title{
    h2{
        font-family: Sora;
font-weight: 400;
font-style: Regular;
font-size: 48px;
line-height: 60px;
letter-spacing: 0%;
text-align: center;

    }

}    .community-flex{
        display: flex;
        justify-content: center;
        gap: 25px;
            flex-wrap: wrap;
}

    @media (max-width:1024px) {
            .com-last{
        display: flex;
        gap: 25px;
    }.com-last-pic{
        margin-top: -250px;
    }
    }
    @media (max-width:768px) {
        .community-title{
            h2{
                font-size: 42px;
            }
        }
        .community-block{
            img{
                width: 300px;
            }
            display: flex;
            gap: 25px;
        }.com-2-pic{
            margin-top: -45px;
        }.com-last-pic{
            margin-top: 0;
        }.qwerty{
            margin-top: -280px;
        }
    }
    @media (max-width:375px) {
        .community-title{
            h2{
                font-size: 22px;
                text-align-last: left;
            }
        }
        .com-hiden{
            display: none;
        }
    }