.home-title{
    position: relative;
    margin: 0 auto;
    margin-top: 112px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; // Добавьте это для центрирования по горизонтали
    max-width: 1200px; // Ограничьте максимальную ширину контейнера
    padding: 0 20px; // Добавьте отступы по бокам
  
    h1{
        font-family: Sora;
        font-weight: 600;
        font-size: 60px;
        line-height: 72px;
        text-align: center;
        color: white;
        max-width: 992px; // Замените width на max-width
        width: 100%; // Добавьте это
    }
    
    p{
        font-family: Sora;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: #CAC6DD;
        max-width: 702px; // Замените width на max-width
        width: 100%; // Добавьте это
        margin-top: 20px; // Добавьте отступ сверху
    }
    button{
        font-family: Source Code Pro;
font-weight: 700;
font-style: Bold;
font-size: 12px;
line-height: 20px;
letter-spacing: 3.5%;
text-align: center;
text-transform: uppercase;
color: black;
width: 109px;
height: 44px;
opacity: 1;
background-color: #fff;
margin-top: 20px;
border-radius: 10px;
border: none;
    }
}
picture{
    margin: 0 auto;
}

.absolute {
    position: absolute;
    top: 338px;
    left: 1010px;
}
.ghost-browser{
    width:1124px;
    margin:0  430px;

opacity: 1;
margin-top: 124px;
}
.around{
    z-index: -98;
    position: absolute;
width: 1248px;
height: 1248px;
opacity: 1;
top: 0%;
left: 18%;
}
.blur{
        filter: blur(256px);

    z-index: -100;
    position: absolute;
    top: 0;
    width: 705px;
height: 705px;
opacity: 1;
top: 222px;
left: 768px;
mix-blend-mode: Color dodge;
filter: blur(20px);
}
.overlay{
    position: absolute;
    top: -0px;
    left: 275px;
    z-index: -0100;
}
.logos-nav{
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    div{
        display: flex;
        align-items: center;
        width: 250px;
height: 86px;
gap: 10px;
opacity: 1;
padding: 48px;
background-color: black;
border-radius: 55px;
    }
    span{
        font-family: Sora;
font-weight: 700;
font-style: Bold;
font-size: 28px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
color: #fff;
    }
}
@media (max-width:1440px) {
.overlay{
    width: 1400px;
    left: 42px;
    top: 50px;
    margin: 0 auto;
}     
.blur{
    top: 0;
    left: 680px;
    width: 550px;
    height: 600px;
}
.around{
    top: 50px;
    left: 210px;
    width: 1000px;
    height:  1000px;
}.absolute{
    left: 769px;
}
}
@media (max-width:1200px) {
    h1{
        font-family: Sora;
font-weight: 600;
font-style: SemiBold;
font-size: 52px;
line-height: 65px;
letter-spacing: 0%;
text-align: center;

    }p{
        font-family: Sora;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 32px;
letter-spacing: 0%;
text-align: center;

    }
    .absolute{
        left: 649px;
    }
    .overlay{
        width: 1200px;
        left: 0px;
        top: 50px;

    }
    .blur{
        filter: blur(106px);

        z-index: -77;
        left: 700px;
        top: 500px;
        width: 500px;
        height: 500px;
    }.around{
        width: 800px;
        height: 800px;
    }
}
@media (max-width:1024px) {
    .logos-nav{
        display: none;
    }
.ghost-browser{
    width: 908px;
    
    margin: 100px 75px 1px;
}.absolute{
    left: 561px;
}
.overlay{
    width: 1024px;
}.around{
    left: 100px;
}
h1{
    font-family: Sora;
font-weight: 600;
font-style: SemiBold;
font-size: 52px;
line-height: 65px;
letter-spacing: 0%;
text-align: center;

}
p{
    font-family: Sora;
font-weight: 400;
font-style: Regular;
font-size: 20px;
    line-height: 32px;
letter-spacing: 0%;
text-align: center;

}
}
@media (max-width:768px) {
    .ghost-browser{
        margin: 100px 40px 0;
        width: 688px;
    }
    .home-title{
            h1{
        font-family: Sora;
font-weight: 600;
font-style: SemiBold;
font-size: 44px;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
width: 688px;
    }p{
        font-family: Sora;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
width: 508px;
    }
    }
    .absolute{
        width: 200px;
        left: 420px;
        top: 290px;
    }.overlay{
        width: 768px;
    }.blur{
        top: 400px;
        left: 500px;
    }.around{
        left: -20px;
    }

}
@media (max-width:375px) {
    .home-title{
        h1{
            font-family: Sora;
font-weight: 600;
font-style: SemiBold;
font-size: 40px;
line-height: 52px;
letter-spacing: 0%;
text-align: center;
width: 286px;
        }
        p{
            font-family: Sora;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
width: 336px;

        }
    }
    .ghost-browser{
        width: 331px;
        margin: 50px 30px;
    }
    .absolute{
        top: 380px;
        left: 140px;
        width: 180px;
    }
    .overlay{
        width: 375px;
    }
    .blur{
        left: 50px;
    }
}