.road{
    .road-title{
        text-align: center;
        width: 680px;
        margin: 0 auto;
        button{
            width: 178px;
    height: 44px;
    margin: 20px auto 0;
    background-color: #fff;
    border-radius: 10px 30px 10px 10px;
    color: black;
    border: none;
    font-family: Source Code Pro;
font-weight: 700;
font-style: Bold;
font-size: 12px;
line-height: 20px;
letter-spacing: 3.5%;
text-align: center;
text-transform: uppercase;

        }
    }
}