.help{
    .help-item{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .help-content{
        .help-div{
            display: flex;
            align-items: center;
            width: 631px;
height: 140px;
gap: 40px;
opacity: 1;
padding-top: 40px;
padding-bottom: 40px;
border-bottom: 1px solid #FFFFFF26;
span{
    color: #ADA8C3;
}
        }                        
        }
    }
}